<ion-header>
  <ion-toolbar>
      <ion-buttons>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>bienvenido</ion-title>
    <ion-buttons slot="start">

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
  <ion-card-header>
    <ion-card-title color="warning" >Encuentra tu chofer</ion-card-title>
  </ion-card-header>

  <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae omnis natus ipsam odio. Totam maxime sunt pariatur fugit quo. Aperiam eos ratione, laboriosam delectus ullam veritatis. Quaerat laborum quae veritatis.
  </ion-card-content>
</ion-card>


</ion-content>
