<ion-header>
  <ion-toolbar>
      <ion-buttons>
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Acerca de nosotros</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-grid>
  <ion-row>
    <ion-col>
        <img class="imagen" src="../../../assets/yo-pequeño.png" alt="">
    </ion-col>
    <ion-col class="columna">
        <ion-title>Juan ignacio caneleo espinoza</ion-title>
        <ion-text>carrera: analista programador <br>rol: programador principal del proyecto </ion-text>
    </ion-col>
  </ion-row>
  </ion-grid>

</ion-content>
